<div class="wrapper">
    <!-- Va a englobar todo el formulario con la cabecera -->
    <div class="section-registro">
        <div class="body-registro">
        <div class="row mt-3 mb-3">
            <div class="form-group col-12">
            <label class="title-user" for="tipo_usuario">Ingresa los datos del Alumno</label>
            </div>
        </div>

        <mat-form-field class="mat-input" appearance="outline">
            <mat-label>Matricula</mat-label>
            <input matInput [(ngModel)]="alumno.matricula" name="id" placeholder="Escribe tu matricula">
            <div *ngIf="errors.matricula" class="invalid-feedback">{{ errors.matricula }}</div>
        </mat-form-field>
        
        <mat-form-field class="mat-input" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput [(ngModel)]="alumno.nombre" placeholder="Escribe nombre">
            <div *ngIf="errors.nombre" class="invalid-feedback">{{ errors.nombre }}</div>
        </mat-form-field>
        
        <mat-form-field class="mat-input" appearance="outline">
            <mat-label>Apellidos</mat-label>
            <input matInput [(ngModel)]="alumno.apellidos" placeholder="Escribe apellidos">
            <div *ngIf="errors.apellidos" class="invalid-feedback">{{ errors.apellidos }}</div>
        </mat-form-field>
        
        <mat-form-field class="mat-input" appearance="outline">
            <mat-label>Correo Electronico</mat-label>
            <input matInput [(ngModel)]="alumno.correo" placeholder="Escribe tu Correo Electronico" [disabled]="editar">
            <div *ngIf="errors.correo" class="invalid-feedback">{{ errors.correo }}</div>
        </mat-form-field>
        
          <mat-form-field class="mat-input" appearance="outline" *ngIf="!editar">
            <mat-label>Contraseña</mat-label>
            <input matInput [(ngModel)]="alumno.clave" type="{{ inputType_1 }}" placeholder="Escribe contraseña">
            <mat-icon matSuffix class="eye-icon" (click)="showPassword()">{{hide_1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            <div *ngIf="errors.clave" class="invalid-feedback">{{ errors.clave }}</div>
        </mat-form-field>
        
          <mat-form-field class="mat-input" appearance="outline" *ngIf="!editar">
            <mat-label>Confirmar contraseña</mat-label>
            <input matInput [(ngModel)]="alumno.confirmar_clave" type="{{ inputType_2 }}" placeholder="Confirma la contraseña">
            <mat-icon matSuffix class="eye-icon" (click)="showPwdConfirmar()">{{hide_2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            <div *ngIf="errors.confirmar_clave" class="invalid-feedback">{{ errors.confirmar_clave }}</div>
        </mat-form-field>
        
        <mat-form-field class="mat-input" appearance="outline">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput [(ngModel)]="alumno.fecha_nacimiento" matInput [matDatepicker]="picker"placeholder="MM/DD/YYYY">
            <mat-datepicker #picker></mat-datepicker>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <div *ngIf="errors.fecha_nacimiento" class="invalid-feedback">{{ errors.fecha_nacimiento }}</div>
        </mat-form-field>

        <mat-form-field class="mat-input" appearance="outline">
            <mat-label>CURP</mat-label>
            <input matInput [(ngModel)]="alumno.curp" placeholder="Escribe tu CURP">
            <div *ngIf="errors.curp" class="invalid-feedback">{{ errors.curp }}</div>
        </mat-form-field>

        <mat-form-field class="mat-input" appearance="outline">
            <mat-label>RFC</mat-label>
            <input matInput [(ngModel)]="alumno.rfc" placeholder="Escribe RFC">
            <div *ngIf="errors.rfc" class="invalid-feedback">{{ errors.rfc }}</div>
        </mat-form-field>

        <mat-form-field class="mat-input" appearance="outline">
            <mat-label>Edad</mat-label>
            <input matInput [(ngModel)]="alumno.edad" placeholder="Escribe la edad">
            <div *ngIf="errors.edad" class="invalid-feedback">{{ errors.edad }}</div>
        </mat-form-field>

        <mat-form-field class="mat-input" appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input matInput [(ngModel)]="alumno.telefono" mask='(000) 000-0000' placeholder="Escribe teléfono">
            <div *ngIf="errors.telefono" class="invalid-feedback">{{ errors.telefono }}</div>
        </mat-form-field>

        <mat-form-field class="mat-input" appearance="outline">
            <mat-label>Ocupación</mat-label>
            <input matInput [(ngModel)]="alumno.ocupacion" placeholder="Escribe la ocupación">
            <div *ngIf="errors.ocupacion" class="invalid-feedback">{{ errors.ocupacion }}</div>
        </mat-form-field>
        
        <div class="section-buttons">
            <button class="btn btn-danger" (click)="regresar()">Cancelar</button>
            <button *ngIf="!editar" class="btn btn-primary" type="submit" (click)="registrar()">Registrar</button>
            <button *ngIf="editar" class="btn btn-primary" type="submit" (click)="actualizar()">Actualizar</button>
        </div>
        </div>
    </div>
</div>
