/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.invalid-feedback
{
    display: flex;
    justify-content: center;
    margin-top: 0.01rem;
    margin-bottom: 0.01rem;
    color: rgb(255, 0, 0);
    font-family: fantasy;
}